name: release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

      - name: Git
        uses: actions/checkout@v4

      - name: Java
        uses: actions/setup-java@v4.7.0
        with:
          java-version: '21'
          distribution: 'temurin'
          check-latest: true

      - name: Cache
        uses: actions/cache@v4.2.0
        with:
          path: ~/.m2
          key: '${{ runner.os }}-m2-${{ hashFiles(''**/pom.xml'') }}'
          restore-keys: '${{ runner.os }}-m2'

      - name: Package
        run: mvn --batch-mode --show-version --errors package --file pom.xml

      - name: Draft
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: 'automated release at commit ${{ github.sha }}'
          draft: false
          prerelease: false

      - name: Release
        uses: csexton/release-asset-action@v3
        with:
          pattern: "target/AntiIllegals-*.jar"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          release-url: ${{ steps.create_release.outputs.upload_url }}